* {
  box-sizing: border-box;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #263238;
  height: 50px;
  width: auto;
  padding: 10px 15px;
  font-size: 20px;
  border: 2px solid #455a64;
  margin-top: 20px;
  color: #fafafa;

  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;


  &:hover {
    border-color: #78909c;
    transform: scale(1.01);
    color: white;
  }

  &.failed {
    color: #ff5722;
    border-color: #ff5722;
  }

  &.passed {
    color: #00e676;
    border-color: #00e676;
  }
}
